@import "variables.scss";

/* latin-ext */
@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-display: swap;
    src: url("/media/assets/fonts/opensans.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --color-light-grey: #ebe9df;
    --color-orange : #F0C648;
    --color-yellow : #ff0;
    --color-black : #000;
    --color-white : #fff;
}

html
{
    height: 100%;
    width: 100%;
}

html, body
{
    font-family: 'OpenSans', serif, sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: default;

    background-color: var(--color-black);
    font-size: 1em;
    user-select: none;
    line-height: 1.5em;
    box-sizing:border-box;

    -webkit-font-smoothing: antialiased;
}

body
{
    min-height: 100%;
    background-image: url("/media/assets/backgrounds/nature.webp");
    background-attachment: fixed;
    background-size: cover;
    letter-spacing: 0.025em;
}

.background-shade-overlay {
    background-color: rgba(30, 23, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

*, *:before, *:after 
{
    box-sizing: inherit;
}

.bgblue,
.blue-box-light,
.blue-box {
    
    background: linear-gradient(90deg, rgba(35, 35, 35, 0.7) 0%, rgba(35, 35, 35, 0.3) 100%);    
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    &:hover { background-color: rgba(35, 35, 35, 0.9); }
}

.blue-box-light {
    background: linear-gradient(90deg, rgba(35, 35, 35, 0.3) 0%, rgba(35, 35, 35, 0.1) 100%);
    &:hover { background-color: rgba(35, 35, 35, 0.9); }
}

h1, h2 { 
    color: var(--color-orange);
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em; 
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em; 
    margin-bottom: 10px; 
}

a {
    color: var(--color-orange);
    text-decoration: none;
    cursor: pointer;
}

ul, ol {
    list-style-type: none;
    margin: 0 0 1em 0;
    padding: 0;

    li {
        text-align: left;
        margin: 0.5em 0 0 0;
    }
}

.hidden { display: none !important;}
.center { text-align: center;}
