.card-zoom {

    position: fixed;
    top: 1em;
    z-index: 200;
    max-width: 45%;
    max-height: 80%;

    &.card-zoom-right img {
        right: 1em;
    }

    &.card-zoom-left img {
        left: 1em;
    }

    img {
        height: 100%;
        max-height: 80%;
        display: inline-block;
        border-radius: 25px;
        position: inherit;
        width: auto;
    }
}

.card-zoom,
.cardbrowser {
    img {
        border-radius: 25px;
    }
}