.application-deckbuilder {

    margin: 0 1em;

    .bgPaperBox {
        border-bottom: 1px;
        border-color: 'divider'
    }

    .deck-part-cation {
        text-decoration: double;
        text-transform: uppercase;
    }

    svg {
        max-height: 15px;
    }
}

.deck-summary {

    .deck-legality {
        margin-top: 2em;
        margin-bottom: 2em;
        background-color: #121212;
    }

    .deck-summary-pt1 {
        padding-top: 1em;
    }
}

.view-card-errata {
    border-radius: 50%;
    padding: 5px 10px;
    color: var(--color-white);
    background-color: var(--color-dark-grey);
    position: absolute;
    top: 2px;
    right: 30px;
    line-height: 1.5em;
}

.application-deckbuilder-result {
    position: relative;

    .add-deck-actions {
        position: absolute;
        top: 75px;
        right: 20px;
        max-width: 130px;
        display: none;

        button {
            justify-content: flex-start;
            margin-top: 0.5em;
        }
    }

    .card-count {
        border-radius: 50%;
        padding: 5px 10px;
        color: var(--color-white);
        background-color: var(--color-dark-grey);
        position: absolute;
        top: 2px;
        right: 9px;
        line-height: 1.5em;
    }

    &:hover {
        .add-deck-actions {
            display: block;
        }
    }
}

.custom-deck {
    padding: 1em 0.5em
}


.deck-details {
    .smallcaps {
        font-variant: small-caps;
    }

    .sections-title-specific {
        color: var(--color-orange-light);
    }

    .sections-title-specific-sub {
        color: var(--color-orange-light);
        font-size: 0.8em;
    }

    .deck-notes {
        padding-top: 2em;
    }

    .deck-edit-entry {
        position: relative;
        text-transform: capitalize;
        .deck-edit-entry-actions {
            display: none;
            position: absolute;
            top: 0px;
            bottom: 0;
            left: 0;
            right: 0;
            padding-right: 5px;
            text-align: right;

            span {
                cursor: pointer;

                &:hover {
                    color: var(--color-orange-light);
                }
            }
        }

        &:hover {
            .deck-edit-entry-actions {
                display: block;
            }
        }
    }

    .deck-edit-section-sorted .deck-edit-entry:nth-of-type(2){
        margin-top: 0;
    }
}

.application-deckbuilder-spacer {
    padding-left: 0.5em;
    padding-right: 0.5em;

    .deck-summary,
    .view-cards-eol {
        padding-bottom: 2em;
    }
}

