@import "../base.scss";

body
{
    background: #000 !important;
}

#map_view_layer_loading
{
    margin-top: 100px;
    color: #fff;
    text-align: center;
    letter-spacing: 5px;
    display: block;
}

#map {
    position: fixed !important; 
    width: 100% !important; 
    height: 100% !important; 
    top: 0px !important; 
    left: 0px !important; 
    display: block;
    background-color: #000;
}

.mapview { text-align: center;
    width: 100% !important; 
    height: 100% !important; 

    .leaflet-popup-content { text-transform: uppercase;}
}

%input-select-textarea-shared {
    color: #39454b;
    display: block;
    width: 240px;
    padding: 0.65em 0.75em;
    border: solid 2px #e5e6e7;
    border-radius: 0.5em;
    outline: none;
}
  
select {
    @extend %input-select-textarea-shared;
    display: block;
    margin-bottom: 0.65em;
}
input { 
    @extend %input-select-textarea-shared;
    display: block;   
    border: 1px solid transparent; 
    margin-bottom: 5px; 
    background-color: #ffffff;

    &.next { 
        border: 1px solid  var(--color-orange-light); 
    }
}
textarea {
    @extend %input-select-textarea-shared;
}

.field {
    color: #fff;
}

.map-search,
.mapchooser,
#site_movement,
.side-panel-sites-in-region 
{
    position: absolute;
    width: 275px;
    top: 0;
    right: 0;
    overflow: auto;
    max-height: 100%;
}

#site_movement { 
    width: auto; 
    right: 280px;

    .site_movement_other_region {
        margin-left: -50px;

        &:empty {
            display: none;
        }

        img:not(:first-of-type) {
            margin-left: -50px;
        }
    }

    .site_movement_target_region:not(:empty)
    {
        margin-left: -50px;
    }
}

.side_panel img { max-width: 120px; margin-right: 2px;  }
.site-list img {     height: 130px;
    width: auto;
    max-width: unset; }


.clear { clear: both; }

.cursor-pointer { cursor: pointer; }
.cursor-remove img { cursor: no-drop; }

.padl10 { padding-left: 10px; }


.map-title { display: none !important; }

.card-box {
    padding: 5px;
    margin-right: 5px;
}
.map-action-image { 
    color: #fff; 
    padding: 6px 10px;
    text-align: center;
    font-size: 35px !important; 
    &:hover { 
        color: var(--color-orange-light);
    }
}

div.panel-buttons { width: 70px; margin-top: 22px; }
.underdeeps-map div.panel-buttons { width: 50px; }

.mapchooser {
    padding: 10px 25px 10px 10px;
    z-index: 500;
    width: 300px;
}

.movement-site-container-hide {
    .movement-site-container,
    #movement_accept { 
        display: none
    }
}

#found_sites {
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    img { 
        width: 120px; 
        height: auto;
        background: url(/data/backside) 0 0 no-repeat;
        background-size: contain; 
        border: 1px solid black;

        &.site-is-tapped {
            opacity: 0.5;
            transform: rotate(180deg);
        }
    }
}

.movement-icon {
    margin-top: 46px;
    margin-right: 5px;
    img {
        width: 30px;
        margin: 0;
    }
}
.map-search {
    padding: 5px;
    color: var(--color-orange-light);
    right: 20px;
    z-index: 501;
    width: auto;
    position: absolute;
}

.caption {
    color: var(--color-light-grey);
    font-variant: small-caps;
    font-size: 10px;
}

img.map-region-icon {
    filter: drop-shadow(2px 4px 6px black);
}

.colorOrange { 
    color: var(--color-orange-light); 
    font-size: 1.1em; 
}

.region-movement-info {
    margin-top: 5px;
    color: var(--color-yellow);
    line-height: 1.2em;
    font-size: 0.9em;
    padding: 5px;
    position: relative;


    .line-countdown 
    {   
        animation: notification-line-to-hide 8s linear forwards;
        height: 2px;
        background: white;
        width: 1%;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

@keyframes notification-line-to-hide {
    from { width: 0%; }
    to { width: 100%; }
}

.preferred-sites-container {
    position: fixed;
    z-index: 501;
    left: 0;
    bottom: 0;
    width: auto;
    padding: 20px;
    text-align: center;
    color: var(--color-light-grey);
    overflow: auto;
    max-height: 50%;
    border: 1px solid rgb(20,20,20);

    .preferred-image-list img {
        display: inline;
        height: 100px;
        margin: 5px;
        cursor: pointer;

        &.site-is-tapped {
            opacity: 0.6;
            rotate: 180deg;
        }
    }

    .preferred-sites-toggle {
        position: relative;
        display: block;
        height: 1px;

        .preferred-sites-toggle-toggle {
            position: absolute;
            right: 0;
            top: 0px;
            display: inline-block;
            cursor: pointer;
        }
    }

    &.preferred-sites-container-close {

        padding: 10px;

        .preferred-sites-toggle-toggle {
            top: 6px;
        }

        p,
        .preferred-image-list { display: none; }

        h2 { margin-right: 20px; margin-bottom: 0;}
    } 
}

.map-view-switcher {
    bottom: 0;
    left: 0;
    z-index: 501;
    padding: 10px;
    position: fixed;
    color: white;
}

.map-view-regionmarker-contextaction {
    font-size: 0.8em;
}

.accept_on_selection {

    font-size: 1em;
    padding-top: 5px;
    color: var(--color-light-grey);

    label {
        cursor: pointer;
    }
    
    input {
        width: auto;
        display: inline-block;
        padding-right: 10px;
    }
}

body.remove-site-autoclose .accept_on_selection
{
    display: none;
}

.maps-app-mode {
    #found_sites:empty,
    .config-wrapper-map,
    .map-view-switcher,
    .preview-container,
    .map-search {
        display: none;
    }

    .side-panel-sites-in-region {
        position: fixed;
        left: 0;
        width: auto;
        overflow-y: auto;
        max-height: 100%;
        z-index: 2000;
        background-color: rgba(0,0,0,0.9);
    }
    #found_sites {
        padding: 0.5em;
        text-align: center;

        img:first-of-type  {
            display: none;
        }

        @media (orientation: landscape) and  (max-height: 420px)
        {
            img {
                width: auto;
                max-height: 400px;
                max-width: unset;
            }            
        }
        @media (orientation: landscape) and (min-height: 421px)
        {
            img {
                width: auto;
                max-height: 700px;
                max-width: unset;
            }            
        }
        @media (orientation: portrait) {
            img {
                width: auto;
                max-width: 95%;
                max-height: 700px;
            }
        }
    }
     
}