@import "../variables.scss";

.navigation-full-width {

    .navigation {
        
        z-index: 2;
        position: relative;

        ul { 
            text-align: center;
            li {
                display: inline-block;
                text-align: center;
            }
        }
        a,
        a:active,
        a:visited {
            color: var(--color-white);
            text-transform: uppercase;
            text-decoration: none;
            padding: 1em;
            display: inline-block;
        }

        a.navigation-active,
        a:hover {
            color: var(--color-orange);
        }
    }

    .content .inner-content
    {
        padding-top: 1em;
    }
}

.nav-background {
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(179deg, transparent, rgb(0, 0, 0) 90%);
}