.card-bar {
    &.card-bar-shared {
        align-content: end;
        .icon {
            font-size: 0.8em;
            padding: 2px 0;
            height: auto;
            width: auto;
        }
    }

    &.card-bar-shared,
    &.card-bar-play {
        position: relative;
    }
    &.card-bar-play {
        
        a {
            background: none !important;
        }

        .icon {
            font-size: 0.8em;
            padding: 2px 0;
            height: auto;
            width: auto;
            position: relative;
        }

        span {
            position: absolute;
            left: 40px;
            bottom: 8px;
            font-size: 1em;
            color: var(--color-light-grey);
            text-align: right;
            width: 28px;
            margin: 0;
        }

        i {
            position: absolute;
            left: 5px !important;
            bottom: 5px;
            height: 20px;
            width: 20px;
            background-size: contain;
        }
    }

    a.icon {
        display: block;
        position: relative;

        i {
            left: 60px;
            bottom: 5px;
            position: absolute;
        }
    }

    .icon-tooltip::after,
    .icon-shared::after {
        position: absolute;
        top: 5px;
        left: 0;
        opacity: 0.9;
        background-color: #000;
        color: var(--color-near-white);
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 1px;
        border-radius: 5px;
    }

    .icon-tooltip-sideboard::after {
        font-size: 0.78em;
    }
    
    .icon {
        font-size: 12px;

        span.count {
            padding-left: 2px;
        }

        img {
            width: 93px;
            border-radius: 5%;
            box-shadow: 1px 3px 3px #000;
        }

        &[data-size="size-many"] {
            img {
                box-shadow: 6px 6px 3px #000
            }
        }

        &[data-size="size-middle"] {
            img {
                box-shadow: 4px 4px 3px #000
            }
        }

        &[data-size="size-few"] {
            img {
                box-shadow: 2px 2px 3px #000
            }
        }

        &.victory { display: none; }
    }

    .icons a.backside {
        background: url("/data/backside") 0 0 no-repeat;
        background-size: 31px 50px !important;
    }

    .deckpile-additional-actions {
        .deckpile-additional-action {
            display: none;
            position: absolute;
            bottom: 2px;
            left: 0;
            width: 100%;
            z-index: 5;
            margin: 0;
            cursor: pointer;
            line-height: 1.5em;
        }

        &:hover .deckpile-additional-action {
            display: block;
        }
    }
}

.trade-panel {
    &.trade-hide-buttons button.trade-accept { display: none !important;}
    .config-panel {
        padding-top: 20px;

        top: 10%;
        max-height: 85%;
        overflow: auto;

        button {
            color: #fff;
            margin: 2px;

            &.trade-cancel {
                background-color: #c32222;

                &:hover {
                    background-color: #dc2600;
                }
            }

            &.trade-accept {
                background-color: #98c593;

                &:hover {
                    background-color: #a8cea4;
                }
            }
        }

        li a {
            display: block;
            text-align: center;
        }

        &.trade-await-reply button {
            visibility: hidden;
        }

        .offered-list {
            min-height: 85px;
            border-bottom: 2px dotted var(--color-orange-light);
            text-align: center;
            margin-bottom: 10px;

            div {
                display: inline-block;
                margin: 0 3px;
            }
        }

        .offering-list {
            max-height: 400px;
            overflow: auto;

            div {

                display: inline-block;
                margin: 0 3px;
                position: relative;
                border: 1px solid transparent;

                &.fa {
                    border: 1px solid #98c593;
                }

                &::before {
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    background: #98c593;
                    border-radius: 3px;
                }

                img {
                    cursor: pointer;
                }

            }
        }
    }
}

.preferences-wrapper .config-panel-overlay
{
    position: fixed;
    z-index: 502;
}

#config-panel {

    left: 40px;
    
    &.config-panel 
    {
        max-width: 80%;
        margin: 0 auto;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        color: var(--color-light-grey);
        position: fixed;
        z-index: 502;

        .preference-section { display: inline-block;}
    }

    label {
        cursor: pointer;
        &:hover {
            color: var(--color-white);
        }
    }
}

.config-panel .preference-section-pad {
    border-bottom: 1px dotted;
}

@media (max-width: 750px) {

    #config-panel 
    {
        &.config-panel 
        {
            grid-template-columns: repeat(1, 1fr);
        }
        .preference-section  
        {
            display: block;
        }
    }
    
}