
/* COMPANY AREA */
.staging-area {
    position: relative;
    min-width: 100px;

    .staging-area-drop {
        display: none;

        .staging-area-drop-resource,
        .staging-area-drop-character {
            position: absolute;
            top: 0;
            height: 80%;
        }
        .staging-area-drop-resource {
            left: 0;
            width: 70%;
        }
        .staging-area-drop-character {
            left: 71%;
            width: 29%;
        }
    }

    &.staging-area-opponent {
        padding: 20px 0 0 0;
        text-align: right;
        align-content: flex-start;
    }

    &.staging-area-player .mark-red img 
    {
        border: 2px solid #ef4b4b;
        animation: glowRed linear 1s 2 forwards;
    }

    .staging-area:last-of-type { padding-right: 10px; }

    .card {
        display: inline-block;
        margin-left: 2px;

        img.card-icon {
            width: auto;
        }
    }
}

.table .staging-area-factions .mark-red img 
{
    border: 0px;
}

.table-stage-stacking {

    .staging-area {
        min-width: 100px;
    }
  
    .staging-area-area {
        max-width: var(--card-size-w);
        display: inline-block;
        vertical-align: top;

        margin-right: 10px;
        div.card {
            float: left;
            margin-top: -70px;
            position: relative;

            &:first-child {
                margin-top: 0;
            }
        }

        &::after {
            clear: both;
        }
    }
}

.table-companies-left {
    .companies {
        text-align: left;
    }
}

.staging-area-area {

    div.card:empty,
    &:empty { display: none !important; }
}