.game-watch-only {

    .card-bar-play,
    .taskbar,
    .help-wrapper,
    #playercard-hand-content,
    .taskbar-score,
    .area-player,
    .chattext,
    .arda-hand-wrapper,
    .arda-card-hands,
    .companies .company .character-card-dice,
    .companies .company .character-mark-toggle,
    .company-characters-add,
    .icons a.victory,
    .icons a.hand,
    #playercard_hand {
        display: none !important;
    }

    .area-opponent {
        max-height: 90%;
        display: block;
    }
    .table .opponent-companies {
        align-content: unset !important;
    }
    .staging-area {
        width: 100%;
        max-width: 100% !important;
    }

    .staging-area .staging-area-resources,
    .staging-area .staging-area-hazard {
        display: inline-block;
    }

    .visitor-hand-view {
        text-align: center;
        border: 1px solid black;
        background-color: rgba(0,0,0,0.2);
    }

    .staging-area,
    .companies,
    .visitor-hand-view,
    .area-opponent,
    .scoring-sheet.final-score.final-score-watch .button {
        display: block !important;
    }

    .scoring-sheet-ingame.scoring-arda {
        bottom: 0 !important;
    }

    div#opponent_table .company,
    .staging-area-opponent.rot180 {
        transform: rotate(0deg);
    }

    div#opponent_table .company {
        vertical-align: top;
    }

    .companies.hidden {
        display: block !important;
        background: rgba(0, 0, 0, 0.1);
    }

    .companies:hover {
        background: rgba(255, 255, 255, 0.1);
    }

    .chatbox-wrapper {
        bottom: 5px;
        top: auto;
    }

    .company-host,
    .company {
        height: auto !important;
    }

    .chatbox {
        height: 20px;
    }

    .card-bar.card-bar-shared {
        align-content: start !important;
    }

    .staging-area .fr {
        float: left;
    }

    .visitor-hand-view .card-hand {
        display: inline-block;
        margin-right: 1px;
    }

    .visitor-hand-view::before {
        content: 'Hand Cards';
        display: block;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 5px;
        color: var(--color-yellow);
        font-variant: small-caps;
        font-size: 0.7em;
        padding: 5px 2px;
        z-index: 901;
    }

    .companies {
        white-space: normal !important;
    }

}

body[data-is-singleplayer="true"] {
    .area-opponent {
        min-height: 20% !important;
    }
}
