.wrapper-topleft {
    color: white;
    text-align: center;
    display: inline-block;
    padding: 5px;
}

.wrapper-topleft[data-allow="true"],
.wrapper-topleft:hover i {
    color: var(--color-orange-light);
}
