
.map-window { 
    z-index: 900; 
    position: fixed; 
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    .map-view-title {
        position: fixed; 
        top: 0px;
        left: 0;
        height: 40px;
        width: 100%;
        background-color: rgb(18, 18, 18);
        background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09));
        color: var(--color-white);
        cursor: pointer;

        .map-iframe-title-title,
        .map-iframe-title-close {
            display: inline-block;
            width: 48%;
            padding-top: 12px;
            text-transform: uppercase;
            
        }

        .map-iframe-title-title {
            padding-left: 10px;
        }
        .map-iframe-title-close { 
            padding-right: 10px;
            text-align: right; 
        }
    }
}
.map-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
}

.map-view {
    position: fixed;
    left: 0;
    top: 40px;
    width: 100%;
    height: 95%;
}
.location-reveal.hide {
    display: none !important;
}
.map_view_layer {
    background: rgba(0,0,0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
}
