@import "../base.scss";

body {
    line-height: 1em;
}

html,
body {
    height: 100%;
    overflow: auto;
    box-sizing: content-box;
}

a {
    color: var(--color-orange);
    text-decoration: none;

    &:hover {
        color: var(--color-yellow);
    }
}

@import "tabletop_cardbar.scss";

.taskbar {

    .taskbar-icons {
        position: fixed;
        bottom: 0;
        opacity: 0.7;
        transition: opacity 0.4s ease-in-out;
        left: 50%;
        transform: translateX(-50%);
        border-top-left-radius:15px;
        border-top-right-radius:15px;
        padding: 0 10px;

        &.taskbar-icons-reduced
        {
            width: 120px;
            a.icon:not(.eot):not(.act) { display: none; }
        }
    }

    &:hover .taskbar-icons { opacity: 1;}

    a {
        margin: 5px;
        width: 15px;
        height: 15px;

        &:first-of-type {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

@import "tabletop_icons.scss";


.player_selector {

    i {
        margin-right: 5px;
        padding-left: 17px;
        font-style: normal;
    }

    .player-handcard-count {
        background: url("/media/assets/images/icons/icon-hand-small.png") 0 0px no-repeat;
    }

    .player-playdeck-count {
        background: url("/media/assets/images/icons/icon-playdeck-small.png") 0 0px no-repeat;
    }

    .cur {
        .player-handcard-count {
            background: url("/media/assets/images/icons/icon-hand-small-hover.png") 0 0px no-repeat;
        }

        .player-playdeck-count {
            background: url("/media/assets/images/icons/icon-playdeck-small-hover.png") 0 0px no-repeat;
        }
    }
}

.location-icon-image {
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 100;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    padding: 4px;
    opacity: 0.6;
    font-size: 0.8em !important;
    visibility: hidden;

    i { padding-right: 2px;}

    &:hover {
        opacity: 1;
        color: #000;
        background-color: var(--color-orange);
    }
}

body.ignore-hints .location-icon-image { max-width: 16px; max-height: 16px; overflow: hidden; font-size: 1em;}

.company:hover {
    .location-icon-image {
        visibility: visible;
    }
}

.location-icon {
    top: 6px;
}

.location-underdeep {
    top: 34px;
}

.location-reveal {
    bottom: 10px;
}

.table {
    position: relative;
    height: 100%;

    .area-player {
        position: relative;
        min-height: 30%;

        &.table-padding-bottom {
            padding-bottom: 170px;
        }
    }

    .area-opponent {
        margin-bottom: 20px;
        position: relative;
        min-height: 25%;
        padding-top: 30px;

        .hiddenToOpponent,
        .company-characters-add {
            display: none !important;
        }

        .tableCell {
            vertical-align: bottom;
        }

        .companies {
            margin-left: 30px;
        }
    }

    .row {
        margin: 0 0 0 50px;
        height: 100%;

        div.card {
            display: inline-block;
            max-width: 72px;

            &.state_tapped {
                max-width: 100px;
            }
        }
    }

    .area {
        display: block;

        &.area-player .row {
            grid-template-columns: 230px 75px auto;
            grid-template-rows: repeat(1, minmax(300px, auto));
        }

        &.area-opponent .row {
            grid-template-columns: 230px auto;
            grid-template-rows: repeat(1, minmax(100px, auto));
        }

        .row {
            display: grid;
            grid-column-gap: 10px;
        }

        .companies {
            display: block;
        }
    }

    .companies {
        position: relative;
        text-align: center;
    }

    .tableCell {
        display: inline-flex;
        flex-direction: column;
        vertical-align: top;
    }
}

img.card-icon {
    background: url("/data/backside") 0 0 no-repeat;
    background-size: contain;
    border-radius: 5%;
}

.clear {
    float: none;
    clear: both;
}

.company-host,
.company {
    padding-right: 20px;
    min-height: 100px;
    min-width: 60px !important;
}

body.table-companies-breakline .companies {
    white-space: normal;
}

.card-bar {
    position: fixed;
    z-index: 100;
    bottom: 5px;

    a {
        text-align: center;
        color: var(--color-light-grey);

        &:hover {
            color: var(--color-orange);
        }
    }
}


.hand span,
.card-bar a span {
    padding: 1px;
    border-radius: 5px;
    margin-top: 8px;
    display: inline-block;
    margin-left: 15px;
    text-align: right;
    font-size: 11px;
}

.state_ready img {
    transform: rotate(0);
    transition: all .2s ease-in;
}

.state_tapped img,
.state_tapped_fixed img,
.tapped {
    transform: rotate(-90deg);
    transition: all .2s ease-in;
}

.state_tapped_fixed::before 
{
    position: absolute;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f023";
    left: -12%;
    top: 19%;
    display: inline-block;
    color: var(--color-black);
    z-index: 2;
}

.rot180,
.state_wounded img,
.wounded {
    transform: rotate(-180deg);
    transition: all .2s ease-in;
}

.rot270,
.state_rot270 img {
    transform: rotate(-270deg);
    transition: all .2s ease-in;
}

.card-hands {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 400;
    padding: 5px;
    max-width: 90%;
    min-width: 290px;
    min-height: 84px;

    .hand-card-actions .card-dice {
        display: block;
        text-align: center;    
        img {
            width: 25px;
        }
    }
    .card-generic,
    .card-hand {
        display: inline-block;
        position: relative;
    }

    .card-draw
    {
        font-size: 0.8em;
        position: absolute;
        top: -18px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 0 10px;
        background: var(--color-black);

        .hand-card-sizer { 
            display: none ; 
        }

        .move-hand-icon {

            display: inline-block;
            
            color: #fff;
            text-align: center;
            margin-right: 5px;
            cursor: grabbing;
    
            &:hover {
                color: var(--color-orange);
            }
        }

        a {
            color: var(--color-light-grey);
            &:hover {
                color: var(--color-yellow);
            }
        }
    
        a.card-icon {
            position: relative;
            padding-left: 40px;

            &::before {
                content: " ";
                position: absolute;
                height: 40px;
                width: 40px;
                bottom: 0;
                left: 0;
                background: url(/media/assets/images/icons/icon-draw.png) 0 10px no-repeat;
                background-size: contain;
                display: inline-block;
            }

            &:hover {
                &::before {
                    content: " ";
                    position: absolute;
                    height: 40px;
                    width: 40px;
                    bottom: 0;
                    left: 0;
                    background: url(/media/assets/images/icons/icon-draw-hover.png) 0 10px no-repeat;
                    background-size: contain;
                    display: inline-block;
                    }
            }
        }
    }

    .playercard-hand-content-small .playercard-hand-container .card-hand 
    {
        margin-left: -30px;
        &:first-of-type { margin-left: 0; }
    }

    .card-facedown img {
        transform: rotate(180deg);
    }

    .card-hand-count {
        margin-left: 10px;

        &::before { content: "(" }
        &::after { content: ")" }
    }

    .hand-card-sizer {
        padding: 5px 10px;
        text-align: center;
        color: var(--color-light-grey);
        font-size: 10px;
        visibility: hidden;
    }

    .hand-card-actions
    {
        opacity: 0.16;
        transition: opacity 0.4s ease-in-out;
    }

    &:hover {

        .hand-card-sizer {
            visibility: visible;
            display: inline;
        }

        .hand-card-actions,
        .taskbar-icons {
            opacity: 1;
        }
    }

    .card-hand {
        cursor: move;
        
        .draw {
            position: absolute;
            left: 9px;
            top: 13px;
            color: var(--color-orange);
            text-transform: uppercase;
            font-size: 12px;
        }

        &:hover {

            .draw {
                color: var(--color-yellow);
            }

            img {
                opacity: 0.8;
            }
        }

        &.card-draw:hover img {
            opacity: 0.6;
        }
    }

    div.ui-draggable
    {
        transition: scale 0.2s ease-in-out;
    
        &:hover {
            scale: 1.1;
        }
    }
    
}
.card-dice
{
    transition: scale 0.2s ease-in-out;

    &:hover {
        scale: 1.1;
    }
}
.transition-grow-shrink {
    transition: width 0.1s, margin 0.4s;
}

.arda-inline .card-hand img {
    transition: all 0.2s ease-in-out;

    &:hover {
        scale: 1.1;
    }
}

@import "tabletop_cardlistcontainer.scss";

#playercard_hand_container {
    display: inline-block;
    min-height: 83px;
    
    a.discardpile,
    a.discardpile:hover {
        background-size: contain !important;
        background-position-x: 0px;
        background-position-y: 0px;
    }

    a.discardpile {
        position: absolute;
        bottom: 5px;
        width: 20px;
        margin: 0;
        height: 20px;
        left: 25%;
        visibility: hidden
    }

    &:hover {
        a.discardpile {
            visibility: visible;
        }
    }
}

@import "tabletop_stage.scss";

.companies {
    white-space: nowrap;
    flex: 1 79%;

    .emptyContainer {
        width: 300px;
        height: 100px;
        border: 2px dashed transparent;
    }

    .sites {

        .site-container {
            position: relative;
            display: inline-block;
        }

        .site-onguard {
            margin-left: -30px;
        }
    }

    .company {
        margin-right: 20px;
        border-radius: 20px;
        position: relative;
        transition: all 0.2s ease-in;
        white-space: nowrap;

        @media only screen and (min-width: 1500px) {
            margin-right: 40px;
        }

        &:hover {
            scale: 1.05;
        }

        .company-character:hover {

            .character-mark-toggle,
            .character-card-dice {
                visibility: visible;
            }
        }

        .character-mark-toggle,
        .character-card-dice {
            position: absolute;
            bottom: 20%;
            width: 30px;
            height: 20px;
            cursor: pointer;
            visibility: hidden;
            text-align: center;
            display: inline-block;
            max-height: 30px;

            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 5px;
        }

        .character-mark-toggle {
            transition: all 0.2s ease-in;
            right: 60%;

            &:hover {
                color: var(--color-orange);
            }
        }

        .card-highlight-mark {

            img {
                box-shadow: 0px 0px 10px 2px var(--color-orange);
            }

            .character-mark-toggle {
                visibility: visible;
                color: var(--color-orange);
                transform: rotate(24deg);
            }
        }

        .character-card-dice {
            right: 10%;
            background-size: contain;
            background-image: url("/media/assets/images/icons/icon-dices.png");
            background-repeat: no-repeat;
            height: 15px;

            &:hover {
                background-image: url("/media/assets/images/icons/icon-dices-hover.png");
            }
        }

        .company-site-list {
            min-height: 80px;
            padding: 5px;
        }

        .company-site-list-border {
            position: absolute;
            bottom: -3px;
            left: 0px;
            height: 3px;
            width: 0px;
            background: var(--color-orange);
            display: none;
        }

        &.company-mark-current {
            .company-site-list-border {
                display: inline-block;
                animation: company-moving-line 5s 10 forwards;
            }
        }

        .company-characters-add {
            margin-left: 0;
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 96px;
        }

        @media only screen and (min-width: 1500px) {
            .company-characters {
                .character-is-company-host:not(:last-child)
                {
                    margin-right: 20px;
                }
            }
        }

        .company-character-influenced 
        {
            .company-character:not(:last-child)
            {
                margin-right: 20px;
            }
        }

    }
}

.company-accessibility {
    .company:hover {
        background: rgba(255, 255, 255, 0.15);
        scale: 1.05;
    }
        
    .company-character:hover {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
    }
}

@keyframes company-moving-line {
    from {
        width: 0%;
        opacity: 1;
    }

    to {
        width: 100%;
        opacity: 0.6;
    }
}


@import "tabletop-dragging.scss";
@import "tabletop_zoomlevels.scss";

.company-character-reosurces,
.company-character-reosurces .card,
.company-character-host {
    position: relative;
    text-align: left;
}

.site-regions .card,
.site-onguard .card {
    display: inline-block;
    margin-left: -50px;
}

.site-regions .card:nth-child(1),
.site-onguard .card:nth-child(1) {
    margin-left: 0px;
}

.card-highlight-mark img,
div.card img:hover {
    box-shadow: 0px 0px 10px 2px var(--color-orange);
}

.playercard-hand-content {
    position: relative;

    .hand-card-actions {
        position: absolute;
    }
}

.card-dice {
    display: inline-block;
    img {
        width: 15px;
        margin-right: 5px;
    }
}

.staging-opponent-dice {
    position: relative;
    height: 30px;
    padding-bottom: 8px;

    img {
        width: 30px;
    }
    &:hover:before 
    {
        content: "Last dice roll";
        color: var(--color-yellow);
        background-color: #000;
        border-radius: 5px;
        position: absolute;
        top: -23px;
        right: 0;
        text-align: left;
        rotate: 180deg;
        padding: 3px;
        font-size: 0.8em;
    }
}

.hand-card-actions {
    width: 60px;
    position: fixed;
    bottom: 13px;
    height: 80px;
    overflow: hidden;
}
body[data-is-watcher='false']
{
    &.table-companies-breakline .area-opponent .company {
        height: auto;
    }
    .area-opponent .company {
        flex-direction: column-reverse;
        height: 100%;
        rotate: 0deg;

        .company-character {
            display: inline-flex;
            flex-direction: column-reverse;
        }

        .company-characters {
            align-items: end;
            display: inline-flex;
        }

        .company-character-influenced {
            display: inline-flex;
        }
        .sites {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;

            .site-regions {
                padding: 0 5px;
            }
        }

        .card:not(.card-is-mine) {
            &.state_ready img,
            img {
                transform: rotate(180deg);
            }

            .context-cursor {
                cursor: default !important;
            }

            &.state_tapped_fixed img, 
            &.state_tapped img {
                transform: rotate(90deg);
            }

            &.state_rot270 img {
                transform: rotate(-90deg);
            }
            &.rot180 img, 
            &.state_wounded img, 
            &.wounded img { 
                transform: rotate(0deg);
            }

            
        }
        
    }
}


#draw_card__dep {
    display: block;
    height: 40px;
    margin-top: 4px;
    background: url("/media/assets/images/icons/icon-draw.png") 0 -0 no-repeat;

    &:hover {
        background: url("/media/assets/images/icons/icon-draw-hover.png") 0 0 no-repeat;
    }  
}

.hosts_nothing {
    display: none !important;
}

#lidles-eye {
    z-index: 601;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.85);

    img {
        position: fixed;
        transform: translate(-50%, -50%);
        top: 50%;
        width: 300px;
        left: 50%;
        animation: eyepulse 1s linear infinite;
    }

    &.fade-out {
        transition: opacity 0.3s ease-out;
        opacity: 0;
    }
}

@keyframes eyepulse {
    0% {
        width: 300px;
    }

    50% {
        width: 350px;
    }

    100% {
        width: 300px;
    }
}

#card_counter div.pos-rel {
    position: relative;

    &:hover .hidden {
        display: block;
    }
}

.card-hands-sizer {
    display: inline;
    margin-left: 10px;

    i {
        color: var(--color-orange);
        font-weight: bold;
        padding: 0 5px;

        &:hover {
            cursor: pointer;
            color: #fff;
        }
    }

    .card-hands-sizer-size {
        font-weight: bold;
    }
}


body.on-show-map-window .location-icon {
    display: none;
}

.smallCaps {
    font-variant-caps: small-caps;
}

@media only screen and (max-width: 1299px) {

    .area-player::after {
        content: '';
        display: block;
        min-height: 250px;
    }

}

* {
    scrollbar-width: thin;
    scrollbar-color: black grey;
}


*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: black;
}

*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 5px;
    border: 3px solid darkgrey;
}

@import "tabletop_cardinfobox.scss";
/* playercard_hand */

div#table-dark {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(30, 23, 0, 0.4), rgba(30, 23, 0, 0.6));
    z-index: 0;
}

@import "tabletop_mobile.scss";

.site-regions,
.card img.card-icon {
    transition: all 0.2s ease-in;
}

.card:hover .card-icon {
    scale: 1.05;
}

.site-regions {
    &:hover {
        scale: 1.05;
    }

    .card:hover .card-icon {
        scale: none;
    }
}

div.card[data-token]:after {
    position: absolute;
    right: 10%;
    top: 10%;
    padding: 5px;
    font-size: 0.8em;
    background: var(--color-orange);
    border-radius: 50%;
    line-height: 1em;
    content: "10+";
}

div.card[data-token="1"]:after {
    content: "1";
}

div.card[data-token="2"]:after {
    content: "2";
}

div.card[data-token="3"]:after {
    content: "3";
}

div.card[data-token="4"]:after {
    content: "4";
}

div.card[data-token="5"]:after {
    content: "5";
}

div.card[data-token="6"]:after {
    content: "6";
}

div.card[data-token="7"]:after {
    content: "7";
}

div.card[data-token="8"]:after {
    content: "8";
}

div.card[data-token="9"]:after {
    content: "9";
}

div.card[data-token="10"]:after {
    content: "10";
}

@import "./tabletop_changeavatar.scss";

.dialog-notes,
.change-seating {
    background-color: #000;
    color:var(--color-light-grey);
    max-width: 90%;
    max-height: 90%;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.4);
    }

    h3 {
        color: var(--color-orange);
        font-size: 2em;
        text-align: center;
    }

    ul {

        list-style-type: none;
        display: block;

        li {
            min-height: 50px;
            position: relative;

            &:first-of-type a:first-of-type {
                visibility: hidden;
            }

            &:last-of-type a:last-of-type {
                visibility: hidden;
            }
        }
    }

    .avatar-box {
        height: 50px;
        width: 50px;
        left: 0;
        top: 0;
        position: absolute;
        display: block;
        overflow: hidden;
        border-radius: 50%;

        img {
            position: absolute;
            width: 100%;
            top: 7px;
            scale: 1.6;
        }
    }

    .avatar-text-box {
        position: relative;
        padding-top: 15px;
        margin-left: 60px;
        font-size: 1.5em;
        display: grid;
        grid-template-columns: 1.5fr 0.5fr 0.5fr;

        a {
            margin: 0 1em;
        }
    }

    .button-actions {
        text-align: center;
    }

    button {
        border: 0;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        height: 3.5em;
        line-height: 3.5em;
        outline: 0;
        padding: 0 2em 0 2em;
        position: relative;
        text-align: center;
        text-decoration: none;
        background-color: #a8cea4;
        margin: 0 10px;

        &:hover {
            background-color: #8ad681;
        }

        &.buttonCancel {
            background-color: #c32222;

            &:hover {
                background-color: #dc2600;
            }
        }
    }
}

.dialog-notes {
    cursor: pointer;
    padding: 2em;
    font-size: 1.3em;
    line-height: 1.3em;
    max-width: 80%;
    max-height: 80%;
    h2, h3 { margin-top: 2em;}
}

/* opensource spinner from https://github.com/loadingio/css-spinner/ */
.lds-ellipsis 
{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 20px;
    left: 10px;

    div {
        position: absolute;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: 1px solid #000;
        background: var(--color-orange);
        animation-timing-function: cubic-bezier(0, 1, 1, 0);

        &:nth-child(1) 
        {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
        }
        
        &:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
        }
        
        &:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
        }
        
        &:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
        }
    }
    
    
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

@import "playerselector.scss";
@import "tabletop_lobby.scss";
@import "tabletop_discard.scss";
@import "tabletop_map.scss";
@import "tabletop_introtip.scss";
@import "tabletop_dics.scss";
@import "tabletop_chat.scss";
@import "tabletop_watch.scss";

:root {
    --jumble-translate-x: 0px;
    --jumble-translate-y: 0px;
    --jumble-rotate: 0deg;
}

.card-jumbled {
    translate: var(--jumble-translate-x) var(--jumble-translate-y);
    rotate: var(--jumble-rotate);
}

