.chatbox {
    position: fixed;
    right: 5px;
    top: 5px;
    max-width: 20%;
    max-height: 50%;
    font-size: 0.7em;
    color: var(--color-light-grey);
    display: block;
    outline: none;
    z-index: 401;
    opacity: 0.3;
    transition: opacity 0.4s ease-in-out;
    overflow: hidden;

    .chatbox-log {
        position: relative;
        padding: 0.65em 0.75em;
    }

    .chatbox-form-container {
        display: none;
        bottom: 0;
        height: 400px;
        position: fixed;
        background-color: var(--color-black);
        box-shadow: 0px -5px 10px #000;
    }

    .message-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }

    .chat_item__item {
        cursor: pointer;
        padding: 1px;
        &:hover {
            color: var(--color-black);
            background-color: var(--color-orange-light);
        }
    }

    h3 {
        margin: 1em 0 0 0;
        color: var(--color-orange-light);
        text-transform: uppercase;
        border-bottom: 1px dotted;
    }

    h2 {
        margin: 5px 0;
    }

    input {
        width: 90%;
        padding: 5px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.7);

        &:focus-within,
        &:active {
            background: #fff;
        }
    }

    &:hover {
        background: rgba(0, 0, 0, 0.5);
        box-shadow: -5px 0px 10px #000;
        opacity: 1;
        height: 100%;
        max-height: unset;
        top: 0;
        bottom: 0;
        max-width: 30%;

        .chatbox-log { 
            height: 70%;
            font-size: 1.3em;
        }
        .chatbox-form-container { 
            display: block; 
        }
    }

    div {
        line-break: normal;
    }

    span {
        font-size: 0.8em;
        padding-right: 3px;
    }

    b {
        color: var(--color-orange-light);
    }
}

body.on-drag-event-generic .chatbox { display: none !important;}

.player-selector-box {
    .chat_icon_newmessage {
        color: var(--color-red);
    }
}

#chatbox.hide {
    visibility: hidden;
}

.add-cards-box {
    position: fixed;
    left: 20%;
    width: 60%;
    top: 5%;
    padding: 20px;
    color: #fff;
    text-align: center;
    z-index: 402;
    bottom: 5%;

    .config-panel-text  {
        background: rgba(255, 255, 255, 0.8);
        border: 0;
        border-radius: 5px;
        border-bottom: 2px solid #e5e6e7;
        margin: 10px 0;
        display: inline-block;
        width: 100%;
        font-size: 1.5em;
        color: #000;
    }

    .result {
    
        max-height: 75% !important;
        display: block;
        overflow-y: auto;
        position: relative;
        height: 100%;
        margin-bottom: 10px;

        img { 
            cursor: pointer;
        }

        .added {
            opacity: 0.5;
            transform: rotate(180deg);
        }
    }
    
    input.buttonCancel {
        background-color: #c32222;
    }

    input.buttonCancel:hover {
        background-color: #dc2600;
    }

    h2 {
        text-align: center;
        color: var(--color-orange-light);
    }

    .button {
        border: 0;
        border-radius: 5px;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        height: 3.5em;
        line-height: 3.5em;
        outline: 0;
        padding: 0 2em 0 2em;
        position: relative;
        text-align: center;
        text-decoration: none;
        background-color: #a8cea4;
    }

}

#add-cards-wrapper .config-panel-overlay {
    z-index: 401;
}

.menu-overlay {
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 300;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.contextmenu {
    position: absolute;
    z-index: 401;

    &.hide {
        display: none;
    }

    .context-menu {
        z-index: 301;
        position: relative;
        padding: 5px 0;
        background-color: var(--color-dark-grey);

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: block;
            justify-content: space-between;
        }

    }


    a {
        position: relative;
        display: block;
        padding: 2px 10px;
        font-size: 0.9em;
        color: var(--color-light-grey);
        transition: all 0.1s ease-in-out;

        i {
            display: inline-block;
            width: 21px;
        }

        &:hover {
            background-color: var(--color-orange-light);
            color: var(--color-black);
        }
    }

    .context-menu__items-shortcuts a { 
        padding-right: 20px;
    }

    .menuitem-shortcut {
        position: absolute;
        right: 10px;
    }

    .border-top a {
        border-top: 1px solid var(--color-orange-light);
        padding-top: 0.5em;
    }

}

.context-cursor {
    cursor: context-menu !important;
}
.pointer-cursor {
    cursor: pointer;
}

.move-cursor {
    cursor: move !important;
}


.card-highlight {
    animation: glowGreen linear 1s 2 forwards;
}

.glowing {
    animation: glowYellow 1s 5 forwards;
}

.glowing-green {
    animation-name: glowGreen;
    animation-duration: 4s;
}

@keyframes glowRed {
    0% {
        box-shadow: 0 0 10px -10px #ef4b4b;
    }

    50% {
        box-shadow: 0 0 10px 10px #ef4b4b;
    }

    99% {
        box-shadow: 0 0 10px -10px #ef4b4b;
    }

    100% {
        box-shadow: none;
    }
}

@keyframes glowGreen {
    0% {
        box-shadow: 0 0 2px 0 #a8e4b1;
    }

    50% {
        box-shadow: 0 0 2px 2px #a8e4b1;
    }

    99% {
        box-shadow: 0 0 2px 0 #a8e4b1;
    }

    100% {
        box-shadow: none;
    }
}

@keyframes glowYellow {
    0% {
        box-shadow: 0 0 2px -2px var(--color-orange-light);
    }

    50% {
        box-shadow: 0 0 2px 2px var(--color-orange-light);
    }

    99% {
        box-shadow: 0 0 2px -2px var(--color-orange-light);
    }

    100% {
        box-shadow: none;
    }
}