# Node build artifacts
node_modules/
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

public/media/personalisation/*.css
public/cards/en-remaster/*
pages/rules-*.html

data-local/cards-full.json
data-local/map-positions-full.json
data-local/not-found.json

logs/
public/cards

dist-server/
dist-client/

RELEASENOTES.MD
deploy.sh